<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/static/icon/favicon.ico">
        <link rel="stylesheet" href="/static/css/index/index.css">
        <link rel="stylesheet" href="/static/css/home/transform.css">
        <title>Kikka Academy</title>
    </head>
    <body>
        <div class="container">
            <div class="container_content">
                <div class="container_content_inner">
                    <div class="title">
                        <h1>Welcome to Kikka Academy</h1>
                    </div>
                    <div class="par">
                        <p>
                            Based from the game "Riddle Joker" the particle "Astron" were
                            discovered, thus this website was created to show you all the
                            things that got documented about this particle and more things
                            about astral.
                        </p>
                    </div>
                    <div class="btns">
                        <button type="Button" class="btns_more" onclick='location.href="/load2"'>Docunments</button>
                        <button type="Button" class="btns_more" onclick='location.href="/load3"'>Contact</button>
                    </div>
                </div>
            </div>
            <div class="container_outer_img">
                <div class="img-inner">
                    <img src="/static/images/hug.jpg" alt="" class="container_img" />
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </body>
</html>