<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="5;url=/index">
        <link rel="shortcut icon" href="/static/icon/favicon.ico">
        <link rel="stylesheet" href="/static/css/loading/fade.css">
        <link rel="stylesheet" href="/static/css/loading/loading-grid.css">
        <link rel="stylesheet" href="/static/css/loading/gradient.css">
        <title>Loading</title>
    </head>
    <body>
        <div class="fade">
            <div class="gradient">
                <div class="lds-grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </body>
</html>