.gradient {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #BF307F, #151226);
    background-size: 400% 400%;
    justify-content: center;
    align-items: center;
    -webkit-animation: Grad 5s ease infinite;
    -moz-animation: Grad 5s ease infinite;
    -o-animation: Grad 5s ease infinite;
    animation: Grad 5s ease infinite;
}

@-webkit-keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
